*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
 
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #003b9f, #01296b);
    color: white;
    padding-top: 70px;
}
 
h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}
 
h1::after{
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color: #ff8500;
    margin: 12px auto;
    border-radius: 10px;
}
 
p{
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #d9d9d9;
}
 
#input_group{
    width: 450px;
    background: white;
    border-radius: 18px;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 3);
}
 
#input_group label {
    display: block;
    color: #003b9f;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 12px;
}
#input_group input{
    width: 100%;
    padding: 15px;
    border: 2px solid #2f66c9;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    transition: .3s;
}
 
#input_group input::focus {
    border-color: #ff8500;
    box-shadow: 0px 0px 8px rgb(255, 133, 0, 4);
}
 
#verify {
    width: 100%;
    margin-top: 30px;
    padding: 16px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #ff9d2f, #ff7b00);
   color: white;
   font-size: 1.2rem;
   font-weight: 600;
}
 